{% extends 'form_base.html' %}

{% block title %}New password{% endblock %}

{% block fa-icon %}fa-lock{% endblock %}

{% block menu-item %}New password{% endblock %}

{% block form_name %}password_reset_complete_form{% endblock %}

{% block form_action %}{% url "password_reset_complete" %}{% endblock %}

{% block form_heading %}New password{% endblock %}

{% block form_submit %}
    <input type="submit" name="password_reset_complete" class="btn btn-lg btn-success btn-block" value="Change password">
{% endblock %}

{% block form_extra_wrapper %}{% endblock %}