{% extends 'student/base.html' %}

{% load staticfiles %}

{% block title %}Course Request{% endblock %}

{% block extrastyle %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/vendor/chosen/chosen.css' %}">
    <style type="text/css">
        th, td {
            margin: 0;
            text-align: center;
            border-collapse: collapse;
            outline: 1px solid #e3e3e3;
        }

        td {
            padding: 5px 10px;
        }

        th {
            background: #666;
            color: white;
            padding: 5px 10px;
        }

        td:hover {
            cursor: pointer;
            background: #666;
            color: white;
        }

        .clash {
            color: red;
        }
    </style>
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        function credits_to_string(credits) {
            var p = credits % 10;
            var t = (Math.floor(credits / 10)) % 10;
            var l = Math.floor(credits / 100);
            var total_credits = l + t + p;
            return l.toString() + '-' + t.toString() + '-' + p.toString() + '-' + total_credits.toString();
        }
    </script>
{% endblock %}

{% block heading %}Course Request{% endblock %}

{% block relative-address %}
    <li class="active">Course Request</li>
{% endblock %}

{% block request-class %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <button type="button" id="timetable" class="btn btn-lg btn-flat btn-primary btn-block" data-toggle="modal"
                    data-target="#timetable-modal">
                Time Table
            </button>
        </div>
    </div>
    <br>
    <!-- modal -->
    <div class="modal fade" id="timetable-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-list"></i> Time Table</h4>
                </div>
                <div id="modal-body" class="modal-body">
                </div>
                <div class="modal-footer clearfix">

                    <!--  <button type="button" id="discard" class="btn btn-flat btn-danger" data-dismiss="modal">
                         <i class="fa fa-times"></i> Discard
                     </button>

                     <button type="submit" name="send_message" value="1" class="btn btn-flat btn-primary pull-left">
                         <i class="fa fa-envelope"></i>
                         Send Message
                     </button> -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="box box-solid box-primary">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <div class="box-title">Requested Courses</div>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" data-widget="collapse"><span
                                    class="fa fa-minus"></span></button>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body table-responsive">
                        <table id="course-listing" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-2">Course code</th>
                                <th class="col-md-5">Course title</th>
                                <th class="col-md-3">Credits</th>
                                <th class="col-md-1 text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in requests %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ request.course.code }}</td>
                                    <td>{{ request.course.name }}</td>
                                    <td>
                                        <script> document.write(credits_to_string({{ request.course.credits }})); </script>
                                    </td>
                                    <td class="text-center">
                                        <form role="form" name="request_delete_form"
                                              action="{% url 'student:course_requests' %}" method="post">
                                            {% csrf_token %}
                                            <input value="{{ request.id }}" name="request_id" type="hidden">
                                            <input type="submit" name="request_delete"
                                                   class="btn btn-flat btn-sm btn-danger"
                                                   value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <div class="box-title">Request a new Course</div>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-sm" data-widget="collapse"><span
                                    class="fa fa-minus"></span>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->


                    <form role="form" name="course_plan_form" action="{% url 'student:course_plan' %}" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3">Course Type</th>
                                        <th class="col-md-3">Course code</th>
                                        <th class="col-md-4">Course title</th>
                                        <th class="col-md-2">Credits</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select id="id_course_type" onchange="course_type_select()"
                                                    name="course_type"
                                                    class="chosen-select form-control input-lg"
                                                    data-placeholder="Select course Type">
                                                <option value=""></option>
                                                {% for course_type in course_types %}
                                                    <option value="{{ course_type.id }}">{{ course_type.code }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td id="course_code">
                                            <select id="id_course_code" name="course_code"
                                                    class="chosen-select form-control input-lg"
                                                    data-placeholder="Select course code" disabled>
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td id="course_name"></td>
                                        <td id="course_credits">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                    <input type="submit" name="course_plan"
                                           class="btn btn-lg btn-flat btn-success btn-block" value="Submit request">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/vendor/chosen/chosen.jquery.js' %}" type="text/javascript"></script>
    <script>

        var courses = {};
        var course_types = {};

        {% for type in course_types %}
            course_types['{{type.id}}'] = [];
        {% endfor %}

        {% for course in courses %}
            courses[{{course.id}}] = { 'id': {{course.id}}, 'name': '{{course.name}}', 'credits': {{course.credits}} };
            course_types['{{course.course_type.id}}'].push({ 'id': {{course.id}}, 'code': '{{course.code}}'   });
        {% endfor %}

        function course_type_select() {
            var my_select = document.getElementById("id_course_type");
            var course_type = my_select.options[my_select.selectedIndex].value;
            var course_array = course_types[course_type];
            if (typeof course_array != 'undefined') {
                var i;
                var a = "<select id='id_course_code' onchange='course_select()' name='course_code' class='chosen-select form-control input-lg' data-placeholder='Select course code'><option value=''></option>";
                for (i = 0; i < course_array.length; i++) {
                    console.log(course_array[i]);
                    a += "<option value='" + course_array[i]['id'] + "'>" + course_array[i]['code'] + "</option>";
                }
                a += "</select>";
                document.getElementById("course_code").innerHTML = a;
                $('#id_course_code').chosen({no_results_text: 'No results found!', allow_single_deselect: true});
            }
        }

        function course_select() {
            var my_select = document.getElementById("id_course_code");
            var code = my_select.options[my_select.selectedIndex].value;
            var course_array = courses[code];
            console.log(course_array['name']);
            console.log(course_array['credits']);
            document.getElementById('course_name').innerHTML = course_array['name'];
            document.getElementById('course_credits').innerHTML = credits_to_string(course_array['credits']);
        }

        $(document).ready(function () {
            $('.chosen-select').chosen({no_results_text: 'No results found!', allow_single_deselect: true});
        });

        var schedule = new Array(5);
        var clash_count = new Array(5);
        for (var i = 0; i < 5; i++) {
            schedule[i] = new Array(22);
            clash_count[i] = new Array(22);
            for (var j = 0; j < 22; j++) {
                schedule[i][j] = [];
                clash_count[i][j] = 0;
            }
        }

        {% for request in requests %}
            var a = '{{ request.course.schedule }}'.split(',');
            for (var i = 0; i < a.length; i++) {
                var type = parseInt(a[i][0]);
                var day = parseInt(a[i].substring(1, 3));
                var time = parseInt(a[i].substring(3, 5)) - 16;
                var duration = parseInt(a[i][5]);
                // Days
                if (day % 2 == 1) {
                    for (var j = 0; j < duration; j++) {
                        schedule[0][time + j].push({code: '{{request.course.code}}', type: type });
                        if (type == 1 || type == 2) {
                            clash_count[0][time + j] += 1;
                        }
                    }
                }
                day = day / 2;
                if (day % 2 == 1) {
                    for (var j = 0; j < duration; j++) {
                        schedule[1][time + j].push({code: '{{request.course.code}}', type: type });
                        if (type == 1 || type == 2) {
                            clash_count[1][time + j] += 1;
                        }
                    }
                }
                day = day / 2;
                if (day % 2 == 1) {
                    for (var j = 0; j < duration; j++) {
                        schedule[2][time + j].push({code: '{{request.course.code}}', type: type });
                        if (type == 1 || type == 2) {
                            clash_count[2][time + j] += 1;
                        }
                    }
                }
                day = day / 2;
                if (day % 2 == 1) {
                    for (var j = 0; j < duration; j++) {
                        schedule[3][time + j].push({code: '{{request.course.code}}', type: type });
                        if (type == 1 || type == 2) {
                            clash_count[3][time + j] += 1;
                        }
                    }
                }
                day = day / 2;
                if (day % 2 == 1) {
                    for (var j = 0; j < duration; j++) {
                        schedule[4][time + j].push({code: '{{request.course.code}}', type: type });
                        if (type == 1 || type == 2) {
                            clash_count[4][time + j] += 1;
                        }
                    }
                }
            }
            console.log(schedule);
        {% endfor %}

        var day_map = {'0': 'Monday', '1': 'Tuesday', '2': 'Wednesday', '3': 'Thrusday', '4': 'Friday'};
        var schedtype_map = {'1': 'L', '2': 'T', '3': 'P'};

        var time_html = "<div class='col-xs-12'><table class='' align='center' >" +
                "<tr>" +
                "<th>Time</th>" +
                "<th>8:00-8:30</th>" +
                "<th>8:30-9:00</th>" +
                "<th>9:00-9:30</th>" +
                "<th>9:30-10:00</th>" +
                "<th>10:00-10:30</th>" +
                "<th>10:30-11:00</th>" +
                "<th>11:00-11:30</th>" +
                "<th>11:30-12:00</th>" +
                "<th>12:00-12:30</th>" +
                "<th>12:30-13:00</th>" +
                "<th>13:00-13:30</th>" +
                "<th>13:30-14:00</th>" +
                "</tr>";
        for (var k = 0; k <= 4; k++) {
            time_html += "<tr><th>" + day_map[k] + "</th>";
            for (var i = 0; i < 12; i++) {
                if (clash_count[k][i] > 1) {
                    time_html += "<td class='clash'>";
                } else {
                    time_html += "<td>";
                }
                for (var j = 0; j < schedule[k][i].length; j++) {
                    time_html += schedule[k][i][j]['code'] + ' (' + schedtype_map[schedule[k][i][j]['type']] + ')<br>';
                }
                time_html += "</td>";
            }
            time_html += "</tr>";
        }
        time_html += "</table>";
        time_html += "<br><table class='' align='center' >" +
                "<tr>" +
                "<th>Time</th>" +
                "<th>14:00-14:30</th>" +
                "<th>14:30-15:00</th>" +
                "<th>15:00-15:30</th>" +
                "<th>15:30-16:00</th>" +
                "<th>16:00-16:30</th>" +
                "<th>16:30-17:00</th>" +
                "<th>17:00-17:30</th>" +
                "<th>17:30-18:00</th>" +
                "<th>18:00-18:30</th>" +
                "<th>18:30-19:00</th>" +
                "</tr>";
        for (var k = 0; k <= 4; k++) {
            time_html += "<tr><th>" + day_map[k] + "</th>";
            for (var i = 12; i < 22; i++) {
                time_html += "<td>";
                for (var j = 0; j < schedule[k][i].length; j++) {
                    time_html += schedule[k][i][j]['code'] + ' (' + schedtype_map[schedule[k][i][j]['type']] + ')<br>';
                }
                time_html += "</td>";
            }
            time_html += "</tr>";
        }
        time_html += "</table></div>";
        document.getElementById("modal-body").innerHTML = time_html;

    </script>
{% endblock %}