{% extends 'student/base.html' %}

{% block title %}Course Listing{% endblock %}

{% block heading %}Course Listing{% endblock %}

{% block heading-small %}{% endblock %}

{% block relative-address %}
    <li class="active">Course Listing</li>
{% endblock %}

{% block courses-all-class %}active{% endblock %}
{% block courses-class %}active{% endblock %}
    
{% block content %}
    <div class="box box-solid box-primary">
        <div class="box-header">
            <div class="box-title">
                Course Listing
            </div>
            <div class="box-tools pull-right">
                <button class="btn btn-primary btn-sm" data-widget="collapse"> <span class="fa fa-minus"></span> </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-responsive">
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{course.code}}</td>
                            <td>{{course.name}}</td>
                            <td>
                                {% for professor in professors %}
                                    {{professor.user.get_full_name}}/   
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}