{% extends 'base.html' %}

{% block title %}Error 404{% endblock %}

{% block fa-icon %}fa-warning{% endblock %}

{% block menu-item %}Error 404{% endblock %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-info"> 404</h2>
        <div class="error-content">
            <h3><span class="fa fa-warning text-yellow"></span> Page Not Found</h3>
            <p>The requested URL <code>{{ request_path }}</code> was not found on this server.</p>
            <p><a class="btn btn-flat btn-info" href="{% url 'index' %}">Home</a></p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->
{% endblock %}