{% extends 'common/base.html' %}

{% block department %}{{ user.professor.department.name }}{% endblock %}

{% block profile_url %}{% url 'professor:profile' %}{% endblock %}

{% block sidebar-menu %}
    <li class="{% block profile-class %}{% endblock %}">
        <a href="{% url 'professor:profile' %}">
            <span class="fa fa-user"></span> <span>Profile</span>
        </a>
    </li>
    <li class="{% block courses-offered-class %}{% endblock %}">
        <a href="{% url 'professor:courses_offered' %}">
            <span class="fa fa-check-square"></span>
            <span>Courses offered</span>
        </a>
    </li>
    <li class="treeview {% block courses-class %}{% endblock %}">
        <a href="#">
            <span class="fa fa-list"></span>
            <span>Courses</span>
            <span class="fa fa-angle-left pull-right"></span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block course-listing-class %}{% endblock %}"><a
                    href="{% url 'professor:course_listing' %}"><span class="fa fa-angle-double-right"></span> Course
                listing</a></li>
            <li class="{% block course-search-class %}{% endblock %}"><a
                    href="{% url 'professor:course_search' %}"><span class="fa fa-angle-double-right"></span> Course
                search</a></li>
        </ul>
    </li>
{% endblock %}