{% extends 'oars_auth/message_base.html' %}

{% block title %}Logged out{% endblock %}

{% block message_type %}{% if logged_in %}primary{% else %}danger{% endif %}{% endblock %}

{% block message_heading %}
    {% if logged_in %}Logged out{% else %}Logout error{% endif %}
{% endblock %}

{% block message %}
    {% if logged_in %}
        <p>You have been logged out.</p>
        <p><a class="btn btn-lg btn-primary btn-horizontal-padding" href="{% url 'login' %}">Login again</a></p>
    {% else %}
        <p>In order to logout, you must be logged in.</p>
        <p><a class="btn btn-lg btn-primary btn-horizontal-padding" href="{% url 'login' %}">Login</a></p>
    {% endif %}
{% endblock %}