{% extends 'oars_auth/form_base.html' %}

{% block title %}Change password{% endblock %}

{% block form_name %}password_change_form{% endblock %}

{% block form_action %}{% url "password_change" %}{% endblock %}

{% block form_heading %}Change Password{% endblock %}

{% block form_submit %}
    <input type="submit" name="password_change" class="btn btn-lg btn-success btn-block" value="Change password">
{% endblock %}

{% block form_extra %}
    <p><span class="link"><a href="{% url "auth_index" %}" target="_self">Don't want to change your password?</a></span></p>
{% endblock %}